<!doctype html>
<html>
 
 <style>
 #grad1 {
  height: 4
  00px;
background-image: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

 # background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
h1 {text-align: center;}
</style>
<body>
  <div id="grad1">
  <h1>HPV Tweet Analysis</h1>
  <h1>Team Index 12</h1>

  <p> (HPV) vaccine was first introduced to reduce the infection of HPV and the
majority of cervical cancers. there is evidence to suggest that negative
information about HPV vaccines from celebrities, health professionals, and
news media can increase the HPV vaccine hesitancy and refusal. But the HPV
vaccine is still a recent addition to the public health and it is important to
perform surveillance on social media to understand various opinions about
vaccination. </p>

<p> As one of the serious public health issues, vaccination refusal has been attracting more and more attention, especially for newly approved human papillomavirus (HPV) vaccines. Understanding public opinion towards HPV vaccines is especially a big concern on social media to make strategies for people to take vaccines.
</p>




  
  <h3>Team members:<br> Pavan Kumar Reddy Gunnala <br> Jagadeeshwar Reddy Kothakapu<br> Divya Karingula</h3>
  <h3>Dataset:<br> https://drive.google.com/file/d/10XJJWIn3-RTnvZDVf7J9TBQ8My2W1GHX/view?usp=sharing</h3>
  
 <!-- <img src="C:\Users\91897\Downloads\Assignments\plotly\plotly\templates\50131cover.jpg" alt="Image1" width="800" height="333" align="center">
  <img src="C:\Users\91897\Downloads\Assignments\plotly\plotly\templates\sentiment-icon-14.jpg" alt="Image2" width="800" height="333" align="center">-->
  
</div>

 <div id='chart5' class='chart'></div>
 <div id='chart6' class='chart'></div>
  <div id='chart' class='chart'></div>
 <div id='chart1' class='chart'></div>
 <div id='chart2' class='chart'></div>
  <div id='chart4' class='chart'></div>

</body>
<!--<script src='C:\Users\91897\Downloads\Assignments\plotly\plotly\plotly-latest.min.js'></script>-->
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
  var graphs2 = {{fig2graphJSON | safe}};
  Plotly.plot('chart1',graphs2,{});
  var graphs3 = {{fig3graphJSON | safe}};
  Plotly.plot('chart2',graphs3,{});
  var graphs4 = {{fig4graphJSON | safe}};
  Plotly.plot('chart4',graphs4,{});
  var graphs5 = {{fig5graphJSON | safe}};
  Plotly.plot('chart5',graphs5,{});
  var graphs6 = {{fig6graphJSON | safe}};
  Plotly.plot('chart6',graphs6,{});
</script>

</html>